.App {
  text-align: left;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 180px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  display: flex;
}

.logo-branding {
  margin: auto;
  width: 780px;
  padding: auto;
}

.about-landing {
  width: 400px;
}

.about-blurb {
  width: 300px;
  margin-top: 10px;
}

.product-image {
  width: 520px;
}

.nav-options {
  text-align: center;
  width: 70px;
  padding: 5px;
  margin: 10px;
  border-bottom: 0.5px solid red;
}

.nav-options:hover {
  border-bottom: 0.5px solid rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 0.85em;
  line-height: 1.4;
  font-weight: 300;
}

.list-description {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 300;
}

h1 {
  font-size:2em;
}

h2, h3 {
  margin-bottom: 15px;
}

.h2-light {
  font-weight: 300;
  margin-bottom: 10px;
}

h3 {
  font-weight: 300;
  line-height: 1.3;
}

/* h4 {
} */

/* h5 {
} */

h6 {
  text-align: center;
}

section {
  padding: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.section-intro {
  width: 400px;
  margin: 10px 0;
}

/* Home page Styling Sections */
.about {
  background-color: rgb(44, 40, 133);
  background-image: url(./images/math-patterns-bk.svg);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-around;
}

.landing {
  background-color: rgb(44, 40, 133);
  background-image: url(./images/math-patterns-bk.svg);
  background-size: cover;
  color: white;
}

.problem {
  background-image: url(./images/sinewave-pattern.svg);
  background-size: contain;
}

.product-features {
  background-color: rgb(44, 40, 133);
  background-image: url(./images/math-patterns-bk.svg);
  background-size: cover;
  color: white;
}

.the-team {
}

.product-msg {
  margin: 20px 50px; 
  font-size: 1.3em;
}

.problem-description {
  font-size: 1.3em;
  line-height: 1.5;
}

.feature-title {
  width: 220px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.feature-description {
  margin-top: 20px;
  text-align: center;
}

.profile-photo {
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgb(202, 45, 104);
}

.feature-images {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  /* border: 1px solid white; */
}


/* About Us page */

.card-wrapper{
  width: 80%;
  margin: 30px auto;
  padding: 30px 50px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.35);
  background: white;
}

.card-wrapper-normal{
  /* border: 1px dashed lightgray; */
  width: 65%;
  margin: auto;
}


.patterned-background {
  background-image: url(./images/math-patterns-bk.svg);
  
}

.about-icons {
  width: 4%;
  margin-right: 8px;
}

.mission-card {
  margin: -50px auto 0px auto;
  background-color: rgb(186, 44, 108);
  color: white
}

.mission-image {
  margin: auto;
  width: 75%;
}

.why-righton-wrapper {
  /* border: 1px dashed lightgray; */
  margin: 18px 0;
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
  align-items: center;
}

.why-righton-list {
  color: rgb(57, 64, 143);
  line-height: 1.3;
  /* border: 1px dashed lightgray; */
  margin: 20px;
  width: 70%;
}

.list-image {
  /* margin: auto; */
  width: 25%;
}

.single-profile {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}


.advisor {
  background-color: rgb(120, 43, 122);
  background-image: url(./images/math-patterns-bk.svg);
  background-blend-mode: overlay;
  background-size: cover;
  color: white;
}

/* Common flex wrapper */

.col-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.one-col-box {
  width: 60%;
}

.three-col-info-box {
  /* border: 1px solid black; */
  width: 225px;
  padding: 10px;
  margin: 0 10px;
}

.feature-box {
  width: 235px;
}

.three-col-title {
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: center;
}

.job-title {
  /* border-top: 1px solid rgb(138, 17, 138); */
  border-bottom: 1px solid rgb(138, 17, 138);
  width: 170px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: italic;
  color: rgb(120, 43, 122)
}

img {
  background-position: center;
  margin: auto;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 40, 133);
  padding: 20px;
  text-align: center;
  color: white;
}

button {
  font-size: 14px;
  border-radius: 8px;
  border:1px solid white;
}

.sign-up {
  color: white;
  margin: 10px 0;
  padding: 0 10px;
  height: 50px;
  background-color: rgb(89, 0, 131);
}

/* Mobile */
@media screen and (max-width: 1233px) {
  .product-msg {
    margin: 10px;
  }
  .problem-description {
    font-size: 1em;
  }
  .one-col-box {
    width: 100%;
  }
  .about {
    padding: 20px;
  }
  section {
    padding: 10px;
  }
  .card-wrapper,
  .card-wrapper-normal,
  .mission-card {
    width: 95%;
    padding: 20px;
  }
  h3 {
    font-size: 1em;
    line-height: 1.5;
  }

  .mobile-landing {
    font-size: 0.8em;
  }

  .list-image, .why-righton-list, .why-righton-wrapper {
    width: 100%;
    margin: 10px 0px;  
  }

  .why-righton-list {
    margin-top: -35px;
    padding: 10px;
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.35);
    background: white;
  }

  p {
    font-size: 0.85em;
    line-height: 1.4;
  }

  .list-description {
    font-size: 0.85em;
  }
}
